body {
    margin: 0;
    background-image: linear-gradient(90deg, #ddd 0%, transparent 0%, #ddd 1%, transparent 1%, transparent);
    background-size: 150px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
}

iframe{
    width: 1px;
    min-width: 100%;
}

section {
    position: relative;
}

p, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.colorPanel {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
}

.nav {
    z-index: 1500;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    transition: 0.75s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: linear-gradient(90deg, #ddd 0%, transparent 0%, #ddd 1%, transparent 1%, transparent);
    background-size: 150px;
}

.nav.show {
    transform: translateY(100%);
}

.nav__close {
    position: absolute;
    top: 10px;
    height: 40px;
    width: 40px;
    right: 30px;
}

.nav__close span {
    width: 100%;
    height: 1px;
    position: absolute;
    transform: translate(-50%, -50%) rotateZ(45deg);
    left: 50%;
    top: 50%;
    background: #fff;
}

.nav__close span:nth-child(1) {
    transform: translate(-50%, -50%) rotateZ(135deg);
}

.nav__list {
    margin-left: 300px;
    margin-top: 10%;
}

.nav__item {
    padding-left: 50px;
    color: #fff;
    font-size: 3.75em;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    transition: .3s;
    border-left: 0px solid #fff;
}

.nav__item:hover {
    font-size: 3.85em;
    border-left: 6px solid #fff;
}

.header {
    color: #000;
    background-color: #fff;
    z-index: 10;
    position: fixed;
    height: 80px;
    width: calc(100% - 50px);
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px 1px #ddd;
    transition: 1s;
}

.header__email {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    line-height: 80px;
    font-size: 2em;
}

.header__menu {
    position: relative;
    height: 100%;
    width: 40px;
}

.header__menu span {
    width: 100%;
    height: 1px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: currentColor;
    -webkit-transition: all 0.2s 0.2s;
    transition: 1s;
}

.header__menu span:nth-child(1) {
    margin-top: -5px;
}


.header__menu span:nth-child(2) {
    margin-top: 5px;
}

.buttonContainer {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button {
    height: 60px;
    width: 250px;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 0px 5px 20px 0px rgba(155,0,0,.5);
    outline: none;
    border: none;
}

.button--cta {
    background-color: red;
}

.button--info {
    position: relative;
    margin-right: 20px;
    border: 2px solid red;
    color: red;
    box-shadow: 0px 5px 20px 0px rgba(155,70,70,.35);
}

.button--submit {
    margin-top: 35px;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #555555;
    transition: 1s;
}

.video {
    position: relative;
    height: 100%;
    width: auto;
    transform: scale(1.5);
}

.video::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: .5;
    background: repeating-linear-gradient(-90deg, #777, #777 1px, transparent 1px, transparent 2px);
}

.helloMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.helloMessage__title {
    text-align: center;
    font-weight: bold;
    font-size: 6em;
    color: #fff;
}

.helloMessage__text {
    font-size: 2em;
    max-width: 70%;
    text-align: center;
    color: #fff;
    margin: 20px 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    padding-top: calc(10vh + 80px);
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    background-image: linear-gradient(90deg, #ddd 0%, transparent 0%, #ddd 1%, transparent 1%, transparent);
    background-size: 150px;
}

.card {
    position: relative;
    z-index: 1;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card__title {
    position: relative;
    font-size: 2.2em;
    max-width: 70%;
    margin-bottom: 50px;
}

.card__title:after {
    content: '';
    position: absolute;
    height: 5px;
    width: 70px;
    bottom: -20px;
    background: red;
    left: 0;
}

.card__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card__text {
    max-width: 50%;
    margin-bottom: 30px;
    color: rgb(87, 91, 102);
    font-size: 1.2em;
    line-height: 1.75em;
    margin-left: 100px;
}

.card__text--advertisers {
    max-width: 100%;
    margin-left: 0;
}

.card__text--streamers {
    max-width: 100%;
    margin-left: 0;
}

.card__aside {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 30%;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.9em;
}

.card__aside:before {
    content: '‘‘';
    position: absolute;
    top: 0;
    right: calc(100% + 15px);
    font-size: 4em;
    color: red;
}

.card__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.card__item {
    font-size: 1.5em;
    width: 50%;
    height: 80px;
    line-height: 80px;
}

.background__title {
    position: absolute;
    width: auto;
    top: 50%;
    left: 300px;
    font-size: 20em;
    color: #f0f2f8;
    opacity: .75;
    transform: translateY(-50%);
    text-align: center;
    font-weight: bold;
}

.background__title--about {
    top: calc(5vh + 50%);
}

.background__title--advertisers, .background__title--streamers {
    font-size: 9em;
}

.advertisers, .streamers {
    position: relative;
    height: auto;
    padding: 200px 0;
    width: 100%;
    z-index: 2;
}

.contacts {
    height: 100vh;
    width: 100%;
    background-image: url('https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8c5ad9c21b5d45bae33df34d4881b03d47b68cf2dff821faae172330ff4fac8e&amp;lang=ru_RU');
}

#map {
      height:100%;
      width: 100%;
      position: absolute; top: 0; left: 0;
}

#map:after {
    content: '';
    height:100%;
    width: 100%;
    position: absolute; top: 0; left: 0;
    z-index: 1;
    box-shadow: inset 0px 0 20px 1px rgba(8,8,8,.4);
    z-index: 1;
    background: rgba(200,200,200,.3);
}

.contactsContent {
    z-index: 100;
    position: absolute;
    top: 50%;
    right: 15%;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}

.contacts__block {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0 20px 1px rgba(8,8,8,.15);
    padding: 30px 70px;
}

.contacts__title {
    font-size: 2em;
    margin-bottom: 35px;
}

.contacts__title:after {
    left: 50%;
    transform: translateX(-50%);
}

.contacts__block--info {
    top: 15%;
    margin-bottom: 30px;
}

.contacts__contact {
    height: 60px;
    width: 280px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
}

.contacts__input {
    height: 60px;
    width: 280px;
    margin: 0 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #757575;
    background: transparent;
    font-size: 1.5em;
    transition: .5s;
}

.contacts__input:focus {
    border-bottom: 2px solid red;
}

.contacts__block--form {
    background-color: #fff;
    box-shadow: 0px 0 20px 1px rgba(8,8,8,.15);
}














